<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white p-8 rounded-lg shadow-lg text-center">
    <h2 class="text-3xl font-bold text-red-600 mb-4">Game Over!</h2>
    <div class="space-y-6"> <!-- Cambiado de space-y-4 a space-y-6 -->
      <button (click)="onRestart()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Restart</button>
      <button (click)="onGoHome()" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Go Home</button>
    </div>
  </div>
</div>
