/* src/app/components/header/header.component.css */
.btn-primary {
  background-color: #4b5563; /* Gray */
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;
}

.btn-primary:hover {
  background-color: #374151; /* Darker Gray */
  transform: scale(1.05);
}

.btn-secondary {
  background-color: #6b7280; /* Light Gray */
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;
}

.btn-secondary:hover {
  background-color: #4b5563; /* Darker Light Gray */
  transform: scale(1.05);
}

.btn-danger {
  background-color: #ef4444; /* Red */
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;
}

.btn-danger:hover {
  background-color: #dc2626; /* Darker Red */
  transform: scale(1.05);
}

.btn-cart {
  background-color: #9ca3af; /* Gray */
  color: white !important;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;
}

.btn-cart:hover {
  background-color: #6b7280 !important; /* Darker Gray */
  transform: scale(1.05);
}

.empty-cart {
  color: black !important; /* Light Gray */
  font-weight: 600;
}

.mat-menu-item {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.mat-menu-item span {
  flex-grow: 1 !important;
  margin-right: 1rem !important;
}

.mat-menu-item button {
  align-self: center !important;
}
