<div class="container mx-auto p-8 max-w-4xl bg-white shadow-2xl rounded-3xl mt-12 mb-12">
  <h2 class="text-4xl font-bold text-center mb-8 text-blue-700">Edit Profile</h2>
  <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-2 gap-6">
      <div class="mb-4">
        <label class="block text-gray-800 font-bold text-lg">First Name:</label>
        <input formControlName="nombre" class="w-full p-3 border border-gray-300 rounded-lg mt-2 bg-white shadow-inner text-lg">
      </div>
      <div class="mb-4">
        <label class="block text-gray-800 font-bold text-lg">Last Name:</label>
        <input formControlName="apellido" class="w-full p-3 border border-gray-300 rounded-lg mt-2 bg-white shadow-inner text-lg">
      </div>
      <div class="mb-4">
        <label class="block text-gray-800 font-bold text-lg">Username:</label>
        <input formControlName="username" class="w-full p-3 border border-gray-300 rounded-lg mt-2 bg-white shadow-inner text-lg">
      </div>
      <div class="mb-4">
        <label class="block text-gray-800 font-bold text-lg">Email:</label>
        <input formControlName="mail" class="w-full p-3 border border-gray-300 rounded-lg mt-2 bg-white shadow-inner text-lg">
      </div>
      <div class="mb-4">
        <label class="block text-gray-800 font-bold text-lg">Profile Image URL:</label>
        <input formControlName="profileImg" class="w-full p-3 border border-gray-300 rounded-lg mt-2 bg-white shadow-inner text-lg">
      </div>
      <div class="mb-4">
        <label class="block text-gray-800 font-bold text-lg">Coins:</label>
        <input formControlName="coins" type="number" class="w-full p-3 border border-gray-300 rounded-lg mt-2 bg-white shadow-inner text-lg">
      </div>
    </div>
    <div class="flex justify-center mt-8">
      <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded-full shadow-lg">Save Changes</button>
    </div>
  </form>
</div>
